<%= render "shared/home_header" %>
  <div class="timetable-main">
      <div class="timetable-left">
        <div class="new-timetable">
          <%= link_to "時間わり作成", new_timetable_path %>
        </div>

        <div class="left-timetable-title">
          <p>これまでの時間割</p>
        </div>

        <div class="left-timetable-index">
          <% @timetables.each do |timetable|%>
            <% if timetable.user.grade_id == current_user.grade_id && timetable.user.classroom_id == current_user.classroom_id %>
             <div class="timetable-index">
                <div class="timetable-day">
                 <%= link_to timetable.next_day, timetable_path(timetable)%>
                </div>
             </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="timetable-right">
        <div class="search-index">
            <%= form_with(url: search_timetables_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "日付を入力してください（例 2021-02-09)", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
            <% end %>
        </div>
        <% @timetables.each do |timetable| %>
          <% if timetable.user.grade_id == current_user.grade_id && timetable.user.classroom_id == current_user.classroom_id %>
             <%= link_to timetable_path(timetable) , class: "link-font" do %>
             <div class="index-timetable">
                <div class="timetable-index-left">
                  <ul>
                    <li><%= timetable.next_day %></li>
                    <li>1時間目 <%= timetable.first_class.name %></li>
                    <li>2時間目 <%= timetable.second_class.name %></li>
                    <li>3時間目 <%= timetable.third_class.name %></li>
                    <li>4時間目 <%= timetable.fourth_class.name %></li>
                    <li>5時間目 <%= timetable.fifth_class.name %></li>
                    <li>6時間目 <%= timetable.sixth_class.name %></li>
                    <li>下校時刻：<%= timetable.leave_time %></li>
                  </ul>
                </div>
                <div class="timetable-index-right">
                  <div class="homework-area">
                    宿題<br><%= timetable.homework %>
                  </div>
                  <div class="preparation">
                    持ってくるもの<br><%= timetable.preparation %>
                  </div>
                </div>
             </div>
             <div class="timetable-index-under">
                  <div class="notice-area">
                    お知らせ<br><%= timetable.notice %>
                  </div>
             </div>
            <% end %>
          <% end %>
        <% end %>
        
      </div>
   </div>

<%= render "shared/home_footer" %>