 <%= render "shared/home_header" %>
<div class="diary-main">
  <div class="diary-left">
    <div class="new-diary">
      <%= link_to "時間わり作成", new_timetable_path %>
    </div>
    <div class="left-diary-title">
      <p>これまでの時間割</p>
    </div>
    <div class="left-diary-index">
      <% @timetables.each do |timetable|%>
        <div class="diary-index" id="diary-index">
          <div class="diary-day">
            <%= link_to timetable.next_day, timetable_path(timetable)%>
          </div>
        </div>
        <% end %>
    </div>

   

  </div>
<div class="diary-right">
 
   <div class="show-detail">
<% @timetables.each do |timetable| %>
  <ul class="show-left">
      <li>日付：<%= timetable.next_day %></li>
      <li>１時間目：<%= timetable.first_class.name %></li>
      <li>２時間目：<%= timetable.second_class.name %></li>
      <li>３時間目：<%= timetable.third_class.name %></li>
      <li>４時間目：<%= timetable.fourth_class.name %></li>
      <li>５時間目：<%= timetable.fifth_class.name %></li>
      <li>６時間目：<%= timetable.sixth_class.name %></li>
      <li>下校時刻：<%= timetable.leave_time %></li>
  </ul>
   <ul class="show-right">
      <li>宿題：<%= timetable.homework %></li>
      <li>持ってくるもの：<%= timetable.preparation %></li>
      <li>お知らせ：<%= timetable.notice %></li>
    </ul>   
<% end %>
     

  </div>
</div>
</div>
<%= render "shared/home_footer" %>