<%= render "shared/home_header" %>
  <div class="timetable-main">

      <div class="timetable-right">
             <div class="index-timetable">
                <div class="timetable-index-left">
                  <ul>
                    <li><%= @timetable.next_day %></li>
                    <li>1時間目 <%= @timetable.first_class.name %></li>
                    <li>2時間目 <%= @timetable.second_class.name %></li>
                    <li>3時間目 <%= @timetable.third_class.name %></li>
                    <li>4時間目 <%= @timetable.fourth_class.name %></li>
                    <li>5時間目 <%= @timetable.fifth_class.name %></li>
                    <li>6時間目 <%= @timetable.sixth_class.name %></li>
                    <li>下校時刻：<%= @timetable.leave_time %></li>
                  </ul>
                </div>
                <div class="timetable-index-right">
                  <div class="homework-area">
                    宿題<br><%= @timetable.homework %>
                  </div>
                  <div class="preparation">
                    持ってくるもの<br><%= @timetable.preparation %>
                  </div>
                </div>
             </div>
             <div class="timetable-index-under">
                  <div class="notice-area">
                    お知らせ<br><%= @timetable.notice %>
                  </div>
             </div>
             <div class="timetable-edit-delete">
              時間わりを
                <%= link_to "編集する", edit_timetable_path(@timetable) %>・
                <%= link_to "削除する", timetable_path(@timetable), method: :delete %>
              </div>
      </div>
   </div>

<%= render "shared/home_footer" %>

      
    