<%= render "shared/home_header" %>
<div class="diary-main">
  <div class="diary-left">
    <div class="new-diary">
      <%= link_to "日記を書く", new_diary_path %>
    </div>
    <div class="left-diary-title">
      <p>これまでの日記</p>
    </div>
    <div class="left-diary-index">
      <% @diaries.each do |diary|%>
      <% if diary.user_id == current_user.id || (diary.user.grade_id == current_user.grade_id && diary.user.classroom_id == current_user.classroom_id && current_user.number_id = 52)%>
        <div class="diary-index" id="diary-index">
          <div class="diary-day">
            <%= link_to diary.diary_day, diary_path(diary)%>
          </div>
          <div class="diary-title">
            <%= link_to diary.title, diary_path(diary)%>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
  <div class="diary-right hidden" id="diary-detail">
  <% @diaries.each do |diary| %>
   <div class="diary-detail">
     <div class="detail-left">
      <%= image_tag diary.image.variant(resize: '500x500') %>
     </div>
     <div class="detail-diary">
      <div class="right">
       <div class="top-detail">書いた日：<%= diary.diary_day %></div>
       <div class="second-detail">タイトル：<%= diary.title %></div>
       <div class="third-detail"><%= diary.diary %></div>
       </div>
     </div>
   </div>
   <% end %>
  </div>
</div>

<%= render "shared/home_footer" %>
