<h2 class="page-heading">
  <%= @diary.diary_day %>
</h2>
  <div>
    <%= image_tag @diary.image ,class:"item-box-img" %>
  </div>

   <div>
    <p>日記</p>
      <div>
      <ul>
      <li><%= @diary.title %></li>
      <li><%= @diary.diary %></li>
      </ul>
  </div>
        
 

  <div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, diary: @diary } %>
    <% end %>
  </div>

     
  <div>
    <%= link_to "編集する", edit_diary_path(@diary) %>
    <%= link_to "削除する", diary_path(@diary), method: :delete %>
  </div>

    

