<%= render "shared/home_header" %>

    <div class="diary-main">
    
      <div class="diary-right-show">
         <div class="diary-detail">
            <div class="diary-title-right">
                <div class="top-detail"><%= @diary.diary_day %></div> 
                <div class="first-detail"><%= @diary.user.last_name %> <%= @diary.user.first_name %>さんの日記</div>
             </div>
             <div class="second-detail">タイトル：<%= @diary.title %></div>
           
            <div class="detail-pic">
               <%= image_tag @diary.image.variant(resize: '680x680') %> 
            </div>
    
            <div class="diary-under">
                <div class="third-detail-show"><%= @diary.diary %></div>
            </div>
             <div class="diary-edit-delete">
              日記を
              <% if @diary.user.id == current_user.id %>
                <%= link_to "編集する", edit_diary_path(@diary) %>・
              <% end %>
                <%= link_to "削除する", diary_path(@diary), method: :delete %>
              </div>
         </div>
        

     </div>

       <div class="diary-end">
          <div class="diary-comment">
            <h4 class="comment-title">コメント</h4>
            <div id="comments_area">
              <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </div>  
            <% if user_signed_in? %>
              <%= render partial: 'comments/form', locals: { comment: @comment, diary: @diary } %>
            <% end %>
          </div>
       </div>
 
    </div>


<%= render "shared/home_footer" %>








    

