<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @diary.diary_day %>
      </h2>
      <div>
         <%= image_tag @diary.image ,class:"item-box-img" %>
         </div>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">日記</th>
            <td class="table__cal3"><%= @diary.title %></td>
            <td class="table__col2"><%= @diary.diary %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", edit_diary_path(@diary) %>
      <%= link_to "削除する", diary_path, method: :delete %>
    </div>
  </div>
</div>