<%= render "shared/home_header" %>
  <div class="diary-main">
    
  <div class="diary-right-show">
  
    <div class="diary-detail">
      <div>
      <div class="detail-pic">
         <%= image_tag @user.image, size: '680x680' %> 
      </div>
      <div class="detail-pic-responsive">
         <%= image_tag @user.image, size: '300x300' %> 
      </div>
      
      </div>
    
      <div class="detail-diary">
        <div class="right">
          <div class="top-detail"><%= @user.grade.name %> <%= @user.classroom.name %> <%= @user.number.name %></div>
          <div class="second-detail">名前：<%= @user.last_name %> <%= @user.first_name %>(<%= @user.last_name_reading %> <%= @user.first_name_reading %>)</div>
          <div class="second-detail">生年月日：<%= @user.birthday %></div>
          <div class="second-detail">メール：<%= @user.email %></div>
          <div class="second-detail">自己紹介<br> <%= @user.introduction %></div>

        </div>
      </div>
<div class="user-edit-delete">
          ユーザー情報を
          <%= link_to "編集する", edit_user_registration_path(@user) %>
      </div>
  </div>
     </div>

       
</div>


<%= render "shared/home_footer" %>