<%= render "shared/home_header" %>

<main>
  <div class="main-left">
    <div class="left-menu">
      <div class="border-box">
        <ul class="select-menu">
          <li><%= link_to "連絡する", contacts_path %></li> 
          <li class="menu-list"><%= link_to "日記", diaries_path %></li>     
          <li class="menu-list"><%= link_to "学級通信", class_communications_path %></li>
          <li class="menu-list"><%= link_to "チャットルーム", rooms_path %></li>
          <li class="menu-list"><%= link_to "時間わり", timetables_path %></li>
          <li class="menu-list"><%= link_to "フリーマーケット", items_path %></li>
        </ul>
      </div>
    </div>
  </div>
</main>

<%= render "shared/home_footer" %>







