<%= render "shared/home_header" %>

<div class="contact-main">

  <div class="contact-left">

    <% unless current_user.number_id == 52%>
    <div class="new-contact">
      <%= link_to "連絡する", new_contact_path %>
    </div>
    <% end %>
    
    <div class="left-contact-index">
        <% @contacts.each do |contact|%>
          <% if contact.user.grade_id == current_user.grade_id && contact.user.classroom_id == current_user.classroom_id && current_user.number_id == 52 %>
            <div class="contact-index">
              <div class="contact-day">
                <%= link_to "#{contact.created_at.strftime('%Y/%m/%d %H:%M')} #{contact.user.last_name} #{contact.user.first_name}", contact_path(contact)%>
              </div>
            </div>
          <% elsif contact.user.id == current_user.id %>  
            <div class="contact-index">
              <div class="contact-day">
                <%= link_to contact.created_at.strftime('%Y/%m/%d %H:%M'), contact_path(contact)%>
              </div>
          </div>  
          <% end %>
      <% end %>  
    </div>

  </div>
  
</div>

<%= render "shared/home_footer" %>

