<%= render "shared/home_header" %>

  <div class="class-communication-main">
  
      <div class="class-communication-left">
         <% if current_user.number_id == 52 %>
            <div class="new-class-communication">
                <%= link_to "学級通信を書く", new_class_communication_path %>
            </div>
         <% end %>

         <div class="left-class-communication-title">
            <p>これまでの学級通信</p>
         </div>
    
         <div class="left-class-communication-index">
            <% @class_communications.each do |class_communication|%>
              <% if class_communication.user.grade_id == current_user.grade_id && class_communication.user.classroom_id == current_user.classroom_id %>
                <div class="class-communication-index">
                   <div class="class-communication-day">
                     <%= link_to class_communication.class_communication_day, class_communication_path(class_communication)%>
                   </div>
          
                   <div class="class-communication-title">
                      <%= link_to class_communication.title, class_communication_path(class_communication)%>
                   </div>
                </div>
             <% end %>
           <% end %>
         </div>
       </div>

       <div class="class-communication-right">
          <div class="search-index">
            <%= form_with(url: search_class_communications_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "学級通信を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
          <% @class_communications.each do |class_communication| %>
          <% if class_communication.user.grade_id == current_user.grade_id && class_communication.user.classroom_id == current_user.classroom_id %>
            <%= link_to class_communication_path(class_communication) , class: "link-font" do %>
             <div class="class-communication-detail">
               <div class="image-data">
                  <div class="top-detail-class-communication"><%= class_communication.class_communication_day %></div>
                  <div class="image-count">(写真の枚数：<%= class_communication.images.count %>枚)</div>
               </div>
               <div class="detail-left-class-communication">
                   <% class_communication.images.each do |image| %>
                      <div class="detail-pic">
                          <%= image_tag image, size: '680x680' %>
                     </div>
                      
                   <% end %>
               </div>

               <div class="detail-class-communication">
                   <div class="second-detail-class-communication">タイトル：<%= class_communication.title %></div>
                   <div class="third-detail-class-communication"><%= class_communication.text %></div>
               </div>
             </div>
             <% end %>
            <% end %>
           <% end %>
       </div>
</div>

<%= render "shared/home_footer" %>

