<%= form_with model: @class_communication, url: class_communication_path, method: :PATCH, class: 'registration-main', local: true do |f| %>

  <div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      学級通信編集
    </h1>
  </div>
 
 <%= render "error_messages", resource: @class_communication %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">書いた日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :class_communication_day,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2021,
                    end_year: (Time.now.year + 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

<div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">画像</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.file_field :images, name: "class_communication[images][]", class:"profile_image", id:"profile_image" %>
  </div>  
  <div id="image-list" class="image-preview">
  </div> 
  <% @class_communication.images.each do |image| %>
     <div class="image-index">
      <%= image_tag image.variant(resize: '680x680') %>
     </div>
   <% end %> 
   
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">タイトル</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :title, class:"input-default", id:"nickname", placeholder:"例) 楽ちょ太郎", maxlength:"40" %>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">学級通信</label>
      <span class="indispensable">必須</span>
    </div>
      <%= f.text_area :text, class:"input-introduction", id:"introduction", placeholder:"例)楽ちょ太郎です。みんなと仲良く、力を合わせていきます！よろしく！" %>
  </div>


  
<div class='register-btn'>
    <%= f.submit "登録" ,class:"register-pink-btn" %>
  </div>
</div>
<% end %>


