<div>
  <ul>
    <li>登校日：<%= @class_communication.class_communication_day %></li>
    <li>タイトル：<%= @class_communication.title %></li>
    <%= image_tag @class_communication.image ,class:"item-box-img" %>
    <li>本文：<%= @class_communication.text %></li>
  </ul>
  <%= link_to "学級通信編集", edit_class_communication_path(@class_communication)%>
  <%= link_to "学級通信削除", class_communication_path(@class_communication), method: :delete %>
</div>