
<div class="chat-head">

    <div class="chat-title">
      チャットルーム名  <%= @room.name %>
    </div>

    <div class="chatroom-end">
        <%= link_to "チャットを削除する", room_path(@room), method: :delete%>
    </div>

</div>

<div class="main-main">
  <%= render partial: "message", collection: @chat_messages %>
</div>


<%= form_with model: [@room, @chat_message], autofocus: true, local: true do |f| %>
    <div class="chat-foot">
      
      <div class="forms">
        <%= f.text_field :content, class: "form-message", placeholder: "メッセージを入力してください" %>
      </div>

      <div class="image-submit">
        <label class="form-image">
           <span class="image-file">画像</span>
            <%= f.file_field :image, class: "hidden"%>
        </label>

        <div class="submit-chat">
          <%= f.submit "送信", class: "register-pink-btn-submit-chat" %>
        </div>
      </div>

    </div>
<% end %>







