<%=form_with model: @room, class: 'registration-main', local: true do |f|%>

  <div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      新規チャットルーム作成
    </h1>
  </div>
    
    <%=render 'shared/error_messages', model: f.object %>

    <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">チャットルーム名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"profile_image", id:"image-list" %>
  </div>  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">チャットメンバー</label>
      <span class="indispensable">必須</span>
    </div>
    <div class="check-box">
      <%= f.collection_check_boxes :user_ids, User.all, :id, :nickname %>
    </div>
      <div class='chat-room-form__field'>
          <input type="hidden" name="room[user_ids][]" value=<%= current_user.id %>>
      </div>
  </div>  

      <div class='chat-room-form_field'>
        <%= f.submit class: 'register-pink-btn-chat'%>
      </div>

  <% end %>
