<%= render "shared/home_header" %>
<div class='main'>


  

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      家にある使わなくなった教科書や道具を売っちゃおう！！
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "item-list1.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          楽ちょメンバーで取引！
        </h3>
        <p class='feature-list-description'>
          学校で使った教科書、買ったけど使わなかったものありませんか？
        </p>
      </li>
      <li class='list'>
        <%= image_tag "item-list3.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          winwinになれる！
        </h3>
        <p class='feature-list-description'>
          小学校で使ったものが家に大量にあるけど、どうしたら・・・そんな時便利です。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "item-list2.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          クレジット決済に対応
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードをご用意ください。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='item-lists'>

      <% if @items[0] != nil %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <% if item.order.present? %>
           <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.pay_for_shopping.name %></span>
            
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      <% else %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'order-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/home_footer" %>