<%= render "shared/home_header" %>
  
  
  <div class='item-contents'>
   
      <div class="search-index-item">
            <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form-item") do |form| %>
            <%= form.text_field :keyword, placeholder: "商品を検索する", class: "search-input-item" %>
            <%= form.submit "検索", class: "search-btn-item" %>
            <% end %>
      </div>
    <ul class='item-lists'>

      <% if @items[0] != nil %>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <% if item.order.present? %>
           <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.pay_for_shopping.name %></span>
            
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      
      
      <% end %>
    </ul>
  </div>
  
</div>
<%= link_to(new_item_path, class: 'order-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/home_footer" %>