<%= render "shared/home_header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.order.present? %>
      <div class="sold-out">
        <span>Sold Out!!</span>
      </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.pay_for_shopping.name %>
      </span>
    </div>

    <% if user_signed_in? && !(@item.order.present?) %>
      <% if @item.user_id == current_user.id %>
        <%= link_to "商品の編集", edit_item_path(@item), method: :get, class: "item-pink-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", item_path(@item), method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", item_orders_path(@item), class:"item-pink-btn"%>
      <% end %>

      <div class="back-btn-new-item">
          <%=link_to 'もどる', items_path, class: "back-btn-show"%>
      </div>

    <% end %>

    <div class="item-explain-box">
      <span><%= @item.introduce %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.pay_for_shopping.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.delivery_area.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.day_to_ship.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="item-end">
          <div class="item-comment">
            <div id="comments_area_item">
              <%= render partial: 'item_comments/index', locals: { item_comments: @item_comments } %>
            </div>  
            <% if user_signed_in? %>
              <h4 class="comment-title">コメントする</h4>
              <%= render partial: 'item_comments/form', locals: { item_comment: @item_comment, item: @item } %>
            <% end %>
          </div>
       </div>
  </div>
 </div> 
</div>
 <%= render "shared/home_footer" %>

  

